* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(120deg, rgb(0, 0, 0, 20.2), #3d35ba);
  height: 85vh;
}

.container {
  width: 350px;
  max-width: 300px;
  margin: 100px auto;
}

.form-body {
  width: 100%;
  height: 250px;
  margin: auto;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: all 1s;
}

.form-body:hover {
  transform: scale(1.2);
}

.form-login input {
  color: skyblue;
  display: block;
  margin: auto;
  width: 80%;
  height: 40px;
  margin-bottom: 5px;
  padding-left: 10px;
  border-radius: 5px;
  outline-color: #0275d8;
  border: 0;
  background: transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.text {
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 15px;
  color: skyblue;
}

.btn {
  width: 80%;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #0275d8;
  font-weight: bold;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: white;
}

/* login.css */
.loading-overlay {
  position: fixed;
  background: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  margin: 5px;
  width: 25px;
  height: 25px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
